.container {
	width: 600px;
	margin:0 auto;

}

#profile-title {
font-size: 45px;
}


body {background-color: #F0DBDB;
	font-family: 'Libre Baskerville', serif;
}


h1,h2,h3 {
	font-family:'DM Sans',sans-serif;

}

h1 {
font-size: 42px;
margin-top: 0;
color : #975C8D;
}


h2 {
	color: #FFAACF;
	margin-bottom: 8px;
	font-family: Times;
	font-weight: 100;
	margin-top: 0;
}


p {
	margin: 0;


}

.card {
background-color: white;
padding: 20px;
margin-bottom: 36px;
border-radius: 10px;
text-align: center;
}

a {
color : blueviolet;
font-weight: 800;
}

img {
	height: 150px;
	margin-bottom: 24px;
	border-radius: 8px;
}


#first-card-p {
	margin-bottom: 12px;

}


